<div class="container rateDiv mt-5" *ngIf="!showModal">
  <h3 class="text-center text-primary">{{ busName.toUpperCase() }}</h3>

  <form #rateForm="ngForm" (ngSubmit)="submit(rateForm)">
    <div class="mb-3 text-center fs-3 fw-bold">
      <label class="form-label">Rating</label>
        <div class="star-rating">
            <i 
            class="fa fa-star fs-1" 
            *ngFor="let star of [1,2,3,4,5]" 
            [class.filled]="star <= formData.rating"
            (click)="formData.rating = star"
            style="cursor: pointer;"
            ></i>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-success " type="submit" [disabled]="!formData.rating">Submit</button>
    </div>
  </form>
</div>

<div class="alertDiv" *ngIf="showModal">
  <div class="modal-content rounded-4 shadow text-center" style="width: 400px;">
    <div class="modal-body p-4 text-center">
      <h5 class="mb-0">Thank you for your feedback!</h5>
      <p class="mb-0">Your rating has been submitted successfully.</p>
    </div>
    <div class="modal-footer flex-nowrap p-0">
      <button 
        type="button" 
        class="btn btn-lg btn-link fs-6 text-decoration-none col-12 m-0 rounded-0" 
        (click)="closeModal()">
        <strong>OK</strong>
      </button>
    </div>
  </div>
</div>

