<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <a class="navbar-brand" [routerLink]="isAdmin ? ['/admin/dashboard'] : ['/search']">
      <img src="https://s3.rdbuz.com/Images/rdc/rdc-redbus-logo.webp" width="80" alt="logo">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto">

        <ng-container *ngIf="isAdmin">
          <li class="nav-item"><a class="nav-link" routerLink="/admin/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/buses">Manage Buses</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/schedules">Manage Schedules</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/admin/bookings">View Bookings</a></li>
        </ng-container>

        <ng-container *ngIf="!isAdmin">
          <li class="nav-item"><a class="nav-link" routerLink="/search">Search Buses</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/my-bookings">My Bookings</a></li>
        </ng-container>

      </ul>
      <ul class="navbar-nav ms-auto">
        <ng-container *ngIf="isLoggedIn; else guestLinks">
          <li class="nav-item dropdown">
            <a class="btn nav-link dropdown-toggle" data-bs-toggle="dropdown">
              {{ loggedUserData.userName }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li class="dropdown-item">{{loggedUserData.fullName}}</li>
              <li class="dropdown-item mb-2">Email: {{loggedUserData.emailId}}</li>
              <li><div class="btn btn-outline-danger ms-4 w-75" (click)="logoff()">Log out</div></li>
            </ul>
          </li>
        </ng-container>
        <ng-template #guestLinks>
          <li class="nav-item">
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#authModal">
              Login / Sign Up
            </button>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="modal fade" id="authModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ isLoginForm ? 'Login' : 'Register' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <!-- Login Form -->
        <form *ngIf="isLoginForm">
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" [(ngModel)]="loginObj.emailId" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" [(ngModel)]="loginObj.password" class="form-control">
          </div>
          <button type="button" class="btn btn-primary w-100" (click)="onLogin()"
                  data-bs-dismiss="modal">Sign In</button>
          <div class="text-center mt-2">
            <a (click)="isLoginForm = false">Not a member? Register</a>
          </div>
        </form>

        <!-- Register Form -->
        <form *ngIf="!isLoginForm">
          <div class="mb-3">
            <label class="form-label">User Name</label>
            <input type="text" name="userName" [(ngModel)]="registerObj.userName" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" name="fullName" [(ngModel)]="registerObj.fullName" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" [(ngModel)]="registerObj.emailId" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" [(ngModel)]="registerObj.password" class="form-control">
          </div>
          <button type="button" class="btn btn-success w-100" (click)="onRegister()"
                  data-bs-dismiss="modal">Register</button>
          <div class="text-center mt-2">
            <a (click)="isLoginForm = true">Already registered? Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
